<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>GitHub API</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>

    <body>
        <h1>GitHub API</h1>

        <div>
            Aby skorzystać z API wydaj odpowiednie zapytanie w formacie:
            <br/><br/>
            <b>GET /repositories/{owner}/{repository-name}</b>
            <br /><br/>
            Spodziewana odpowiedź:
            <br /><br/>
            <b>{"fullName": "...", "description": "...", "cloneUrl": "...", "stars": 0, "createdAt": "..."}</b>
        </div>

        <h2>&copy; 2017 Damian Sobczak</h2>
    </body>
</html>
